<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>space</key>
    <string>space.glif</string>
    <key>exclam</key>
    <string>exclam.glif</string>
    <key>template.1</key>
    <string>template.1.glif</string>
    <key>dotlessi</key>
    <string>dotlessi.glif</string>
    <key>NameMe.0</key>
    <string>N_ameM_e.0.glif</string>
    <key>quotedbl</key>
    <string>quotedbl.glif</string>
    <key>numbersign</key>
    <string>numbersign.glif</string>
    <key>dollar</key>
    <string>dollar.glif</string>
    <key>percent</key>
    <string>percent.glif</string>
    <key>ampersand</key>
    <string>ampersand.glif</string>
    <key>quotesingle</key>
    <string>quotesingle.glif</string>
    <key>parenleft</key>
    <string>parenleft.glif</string>
    <key>parenright</key>
    <string>parenright.glif</string>
    <key>asterisk</key>
    <string>asterisk.glif</string>
    <key>plus</key>
    <string>plus.glif</string>
    <key>comma</key>
    <string>comma.glif</string>
    <key>hyphen</key>
    <string>hyphen.glif</string>
    <key>period</key>
    <string>period.glif</string>
    <key>slash</key>
    <string>slash.glif</string>
    <key>zero</key>
    <string>zero.glif</string>
    <key>one</key>
    <string>one.glif</string>
    <key>two</key>
    <string>two.glif</string>
    <key>three</key>
    <string>three.glif</string>
    <key>four</key>
    <string>four.glif</string>
    <key>five</key>
    <string>five.glif</string>
    <key>six</key>
    <string>six.glif</string>
    <key>seven</key>
    <string>seven.glif</string>
    <key>eight</key>
    <string>eight.glif</string>
    <key>nine</key>
    <string>nine.glif</string>
    <key>solon</key>
    <string>solon.glif</string>
    <key>semicolon</key>
    <string>semicolon.glif</string>
    <key>less</key>
    <string>less.glif</string>
    <key>equal</key>
    <string>equal.glif</string>
    <key>greater</key>
    <string>greater.glif</string>
    <key>question</key>
    <string>question.glif</string>
    <key>at</key>
    <string>at.glif</string>
    <key>A</key>
    <string>A_.glif</string>
    <key>B</key>
    <string>B_.glif</string>
    <key>C</key>
    <string>C_.glif</string>
    <key>D</key>
    <string>D_.glif</string>
    <key>E</key>
    <string>E_.glif</string>
    <key>F</key>
    <string>F_.glif</string>
    <key>G</key>
    <string>G_.glif</string>
    <key>H</key>
    <string>H_.glif</string>
    <key>I</key>
    <string>I_.glif</string>
    <key>J</key>
    <string>J_.glif</string>
    <key>K</key>
    <string>K_.glif</string>
    <key>L</key>
    <string>L_.glif</string>
    <key>M</key>
    <string>M_.glif</string>
    <key>N</key>
    <string>N_.glif</string>
    <key>O</key>
    <string>O_.glif</string>
    <key>P</key>
    <string>P_.glif</string>
    <key>Q</key>
    <string>Q_.glif</string>
    <key>R</key>
    <string>R_.glif</string>
    <key>S</key>
    <string>S_.glif</string>
    <key>T</key>
    <string>T_.glif</string>
    <key>U</key>
    <string>U_.glif</string>
    <key>V</key>
    <string>V_.glif</string>
    <key>W</key>
    <string>W_.glif</string>
    <key>X</key>
    <string>X_.glif</string>
    <key>Y</key>
    <string>Y_.glif</string>
    <key>Z</key>
    <string>Z_.glif</string>
    <key>bracketleft</key>
    <string>bracketleft.glif</string>
    <key>backslash</key>
    <string>backslash.glif</string>
    <key>bracketright</key>
    <string>bracketright.glif</string>
    <key>asciicircum</key>
    <string>asciicircum.glif</string>
    <key>underscore</key>
    <string>underscore.glif</string>
    <key>grave</key>
    <string>grave.glif</string>
    <key>a</key>
    <string>a.glif</string>
    <key>b</key>
    <string>b.glif</string>
    <key>c</key>
    <string>c.glif</string>
    <key>d</key>
    <string>d.glif</string>
    <key>e</key>
    <string>e.glif</string>
    <key>f</key>
    <string>f.glif</string>
    <key>g</key>
    <string>g.glif</string>
    <key>h</key>
    <string>h.glif</string>
    <key>i</key>
    <string>i.glif</string>
    <key>j</key>
    <string>j.glif</string>
    <key>k</key>
    <string>k.glif</string>
    <key>l</key>
    <string>l.glif</string>
    <key>m</key>
    <string>m.glif</string>
    <key>n</key>
    <string>n.glif</string>
    <key>o</key>
    <string>o.glif</string>
    <key>p</key>
    <string>p.glif</string>
    <key>q</key>
    <string>q.glif</string>
    <key>r</key>
    <string>r.glif</string>
    <key>s</key>
    <string>s.glif</string>
    <key>t</key>
    <string>t.glif</string>
    <key>u</key>
    <string>u.glif</string>
    <key>v</key>
    <string>v.glif</string>
    <key>w</key>
    <string>w.glif</string>
    <key>x</key>
    <string>x.glif</string>
    <key>y</key>
    <string>y.glif</string>
    <key>z</key>
    <string>z.glif</string>
    <key>braceleft</key>
    <string>braceleft.glif</string>
    <key>bar</key>
    <string>bar.glif</string>
    <key>braceright</key>
    <string>braceright.glif</string>
    <key>asciitilde</key>
    <string>asciitilde.glif</string>
    <key>uni00A0</key>
    <string>uni00A_0.glif</string>
    <key>exclamdown</key>
    <string>exclamdown.glif</string>
    <key>cent</key>
    <string>cent.glif</string>
    <key>sterling</key>
    <string>sterling.glif</string>
    <key>currency</key>
    <string>currency.glif</string>
    <key>yen</key>
    <string>yen.glif</string>
    <key>brokenbar</key>
    <string>brokenbar.glif</string>
    <key>section</key>
    <string>section.glif</string>
    <key>dieresis</key>
    <string>dieresis.glif</string>
    <key>copyright</key>
    <string>copyright.glif</string>
    <key>ordfeminine</key>
    <string>ordfeminine.glif</string>
    <key>guillemotleft</key>
    <string>guillemotleft.glif</string>
    <key>logicalnot</key>
    <string>logicalnot.glif</string>
    <key>uni00AD</key>
    <string>uni00A_D_.glif</string>
    <key>registered</key>
    <string>registered.glif</string>
    <key>macron</key>
    <string>macron.glif</string>
    <key>degree</key>
    <string>degree.glif</string>
    <key>plusminus</key>
    <string>plusminus.glif</string>
    <key>twosuperior</key>
    <string>twosuperior.glif</string>
    <key>threesuperior</key>
    <string>threesuperior.glif</string>
    <key>acute</key>
    <string>acute.glif</string>
    <key>uni00B5</key>
    <string>uni00B_5.glif</string>
    <key>paragraph</key>
    <string>paragraph.glif</string>
    <key>periodcentered</key>
    <string>periodcentered.glif</string>
    <key>cedilla</key>
    <string>cedilla.glif</string>
    <key>onesuperior</key>
    <string>onesuperior.glif</string>
    <key>ordmasculine</key>
    <string>ordmasculine.glif</string>
    <key>guillemotright</key>
    <string>guillemotright.glif</string>
    <key>onequarter</key>
    <string>onequarter.glif</string>
    <key>onehalf</key>
    <string>onehalf.glif</string>
    <key>threequarters</key>
    <string>threequarters.glif</string>
    <key>questiondown</key>
    <string>questiondown.glif</string>
    <key>Agrave</key>
    <string>A_grave.glif</string>
    <key>Aacute</key>
    <string>A_acute.glif</string>
    <key>Acircumflex</key>
    <string>A_circumflex.glif</string>
    <key>Atilde</key>
    <string>A_tilde.glif</string>
    <key>Adieresis</key>
    <string>A_dieresis.glif</string>
    <key>Aring</key>
    <string>A_ring.glif</string>
    <key>AE</key>
    <string>A_E_.glif</string>
    <key>Ccedilla</key>
    <string>C_cedilla.glif</string>
    <key>Egrave</key>
    <string>E_grave.glif</string>
    <key>Eacute</key>
    <string>E_acute.glif</string>
    <key>Ecircumflex</key>
    <string>E_circumflex.glif</string>
    <key>Edieresis</key>
    <string>E_dieresis.glif</string>
    <key>Igrave</key>
    <string>I_grave.glif</string>
    <key>Iacute</key>
    <string>I_acute.glif</string>
    <key>Icircumflex</key>
    <string>I_circumflex.glif</string>
    <key>Idieresis</key>
    <string>I_dieresis.glif</string>
    <key>Eth</key>
    <string>E_th.glif</string>
    <key>Ntilde</key>
    <string>N_tilde.glif</string>
    <key>Ograve</key>
    <string>O_grave.glif</string>
    <key>Oacute</key>
    <string>O_acute.glif</string>
    <key>Ocircumflex</key>
    <string>O_circumflex.glif</string>
    <key>Otilde</key>
    <string>O_tilde.glif</string>
    <key>Odieresis</key>
    <string>O_dieresis.glif</string>
    <key>multiply</key>
    <string>multiply.glif</string>
    <key>Oslash</key>
    <string>O_slash.glif</string>
    <key>Ugrave</key>
    <string>U_grave.glif</string>
    <key>Uacute</key>
    <string>U_acute.glif</string>
    <key>Ucircumflex</key>
    <string>U_circumflex.glif</string>
    <key>Udieresis</key>
    <string>U_dieresis.glif</string>
    <key>Yacute</key>
    <string>Y_acute.glif</string>
    <key>Thorn</key>
    <string>T_horn.glif</string>
    <key>germandbls</key>
    <string>germandbls.glif</string>
    <key>agrave</key>
    <string>agrave.glif</string>
    <key>aacute</key>
    <string>aacute.glif</string>
    <key>acircumflex</key>
    <string>acircumflex.glif</string>
    <key>atilde</key>
    <string>atilde.glif</string>
    <key>adieresis</key>
    <string>adieresis.glif</string>
    <key>aring</key>
    <string>aring.glif</string>
    <key>ae</key>
    <string>ae.glif</string>
    <key>ccedilla</key>
    <string>ccedilla.glif</string>
    <key>egrave</key>
    <string>egrave.glif</string>
    <key>eacute</key>
    <string>eacute.glif</string>
    <key>ecircumflex</key>
    <string>ecircumflex.glif</string>
    <key>edieresis</key>
    <string>edieresis.glif</string>
    <key>igrave</key>
    <string>igrave.glif</string>
    <key>iacute</key>
    <string>iacute.glif</string>
    <key>icircumflex</key>
    <string>icircumflex.glif</string>
    <key>idieresis</key>
    <string>idieresis.glif</string>
    <key>eth</key>
    <string>eth.glif</string>
    <key>ntilde</key>
    <string>ntilde.glif</string>
    <key>ograve</key>
    <string>ograve.glif</string>
    <key>oacute</key>
    <string>oacute.glif</string>
    <key>ocircumflex</key>
    <string>ocircumflex.glif</string>
    <key>otilde</key>
    <string>otilde.glif</string>
    <key>odieresis</key>
    <string>odieresis.glif</string>
    <key>divide</key>
    <string>divide.glif</string>
    <key>oslash</key>
    <string>oslash.glif</string>
    <key>ugrave</key>
    <string>ugrave.glif</string>
    <key>uacute</key>
    <string>uacute.glif</string>
    <key>ucircumflex</key>
    <string>ucircumflex.glif</string>
    <key>udieresis</key>
    <string>udieresis.glif</string>
    <key>yacute</key>
    <string>yacute.glif</string>
    <key>thorn</key>
    <string>thorn.glif</string>
    <key>ydieresis</key>
    <string>ydieresis.glif</string>
    <key>Amacron</key>
    <string>A_macron.glif</string>
    <key>amacron</key>
    <string>amacron.glif</string>
    <key>Abreve</key>
    <string>A_breve.glif</string>
    <key>abreve</key>
    <string>abreve.glif</string>
    <key>Aogonek</key>
    <string>A_ogonek.glif</string>
    <key>aogonek</key>
    <string>aogonek.glif</string>
    <key>Cacute</key>
    <string>C_acute.glif</string>
    <key>cacute</key>
    <string>cacute.glif</string>
    <key>Ccaron</key>
    <string>C_caron.glif</string>
    <key>ccaron</key>
    <string>ccaron.glif</string>
    <key>Dcaron</key>
    <string>D_caron.glif</string>
    <key>dcaron</key>
    <string>dcaron.glif</string>
    <key>Dcroat</key>
    <string>D_croat.glif</string>
    <key>dcroat</key>
    <string>dcroat.glif</string>
    <key>Emacron</key>
    <string>E_macron.glif</string>
    <key>emacron</key>
    <string>emacron.glif</string>
    <key>Edotaccent</key>
    <string>E_dotaccent.glif</string>
    <key>edotaccent</key>
    <string>edotaccent.glif</string>
    <key>Eogonek</key>
    <string>E_ogonek.glif</string>
    <key>eogonek</key>
    <string>eogonek.glif</string>
    <key>Ecaron</key>
    <string>E_caron.glif</string>
    <key>ecaron</key>
    <string>ecaron.glif</string>
    <key>Gbreve</key>
    <string>G_breve.glif</string>
    <key>gbreve</key>
    <string>gbreve.glif</string>
    <key>uni0122</key>
    <string>uni0122.glif</string>
    <key>uni0123</key>
    <string>uni0123.glif</string>
    <key>Imacron</key>
    <string>I_macron.glif</string>
    <key>imacron</key>
    <string>imacron.glif</string>
    <key>Iogonek</key>
    <string>I_ogonek.glif</string>
    <key>iogonek</key>
    <string>iogonek.glif</string>
    <key>Idotaccent</key>
    <string>I_dotaccent.glif</string>
    <key>uni0136</key>
    <string>uni0136.glif</string>
    <key>uni0137</key>
    <string>uni0137.glif</string>
    <key>Lacute</key>
    <string>L_acute.glif</string>
    <key>lacute</key>
    <string>lacute.glif</string>
    <key>uni013B</key>
    <string>uni013B_.glif</string>
    <key>uni013C</key>
    <string>uni013C_.glif</string>
    <key>Lcaron</key>
    <string>L_caron.glif</string>
    <key>lcaron</key>
    <string>lcaron.glif</string>
    <key>Lslash</key>
    <string>L_slash.glif</string>
    <key>lslash</key>
    <string>lslash.glif</string>
    <key>Nacute</key>
    <string>N_acute.glif</string>
    <key>nacute</key>
    <string>nacute.glif</string>
    <key>uni0145</key>
    <string>uni0145.glif</string>
    <key>uni0146</key>
    <string>uni0146.glif</string>
    <key>Ncaron</key>
    <string>N_caron.glif</string>
    <key>ncaron</key>
    <string>ncaron.glif</string>
    <key>Omacron</key>
    <string>O_macron.glif</string>
    <key>omacron</key>
    <string>omacron.glif</string>
    <key>Ohungarumlaut</key>
    <string>O_hungarumlaut.glif</string>
    <key>ohungarumlaut</key>
    <string>ohungarumlaut.glif</string>
    <key>OE</key>
    <string>O_E_.glif</string>
    <key>oe</key>
    <string>oe.glif</string>
    <key>Racute</key>
    <string>R_acute.glif</string>
    <key>racute</key>
    <string>racute.glif</string>
    <key>uni0156</key>
    <string>uni0156.glif</string>
    <key>uni0157</key>
    <string>uni0157.glif</string>
    <key>Rcaron</key>
    <string>R_caron.glif</string>
    <key>rcaron</key>
    <string>rcaron.glif</string>
    <key>Sacute</key>
    <string>S_acute.glif</string>
    <key>sacute</key>
    <string>sacute.glif</string>
    <key>uni015E</key>
    <string>uni015E_.glif</string>
    <key>uni015F</key>
    <string>uni015F_.glif</string>
    <key>Scaron</key>
    <string>S_caron.glif</string>
    <key>scaron</key>
    <string>scaron.glif</string>
    <key>uni0162</key>
    <string>uni0162.glif</string>
    <key>uni0163</key>
    <string>uni0163.glif</string>
    <key>Tcaron</key>
    <string>T_caron.glif</string>
    <key>tcaron</key>
    <string>tcaron.glif</string>
    <key>Umacron</key>
    <string>U_macron.glif</string>
    <key>umacron</key>
    <string>umacron.glif</string>
    <key>Uring</key>
    <string>U_ring.glif</string>
    <key>uring</key>
    <string>uring.glif</string>
    <key>Uhungarumlaut</key>
    <string>U_hungarumlaut.glif</string>
    <key>uhungarumlaut</key>
    <string>uhungarumlaut.glif</string>
    <key>Uogonek</key>
    <string>U_ogonek.glif</string>
    <key>uogonek</key>
    <string>uogonek.glif</string>
    <key>Ydieresis</key>
    <string>Y_dieresis.glif</string>
    <key>Zacute</key>
    <string>Z_acute.glif</string>
    <key>zacute</key>
    <string>zacute.glif</string>
    <key>Zdotaccent</key>
    <string>Z_dotaccent.glif</string>
    <key>zdotaccent</key>
    <string>zdotaccent.glif</string>
    <key>Zcaron</key>
    <string>Z_caron.glif</string>
    <key>zcaron</key>
    <string>zcaron.glif</string>
    <key>florin</key>
    <string>florin.glif</string>
    <key>uni0218</key>
    <string>uni0218.glif</string>
    <key>uni0219</key>
    <string>uni0219.glif</string>
    <key>uni021A</key>
    <string>uni021A_.glif</string>
    <key>uni021B</key>
    <string>uni021B_.glif</string>
    <key>circumflex</key>
    <string>circumflex.glif</string>
    <key>caron</key>
    <string>caron.glif</string>
    <key>uni02C9</key>
    <string>uni02C_9.glif</string>
    <key>breve</key>
    <string>breve.glif</string>
    <key>dotaccent</key>
    <string>dotaccent.glif</string>
    <key>ring</key>
    <string>ring.glif</string>
    <key>ogonek</key>
    <string>ogonek.glif</string>
    <key>tilde</key>
    <string>tilde.glif</string>
    <key>hungarumlaut</key>
    <string>hungarumlaut.glif</string>
    <key>pi</key>
    <string>pi.glif</string>
    <key>endash</key>
    <string>endash.glif</string>
    <key>emdash</key>
    <string>emdash.glif</string>
    <key>quoteleft</key>
    <string>quoteleft.glif</string>
    <key>quoteright</key>
    <string>quoteright.glif</string>
    <key>quotesinglbase</key>
    <string>quotesinglbase.glif</string>
    <key>quotedblleft</key>
    <string>quotedblleft.glif</string>
    <key>quotedblright</key>
    <string>quotedblright.glif</string>
    <key>quotedblbase</key>
    <string>quotedblbase.glif</string>
    <key>dagger</key>
    <string>dagger.glif</string>
    <key>daggerdbl</key>
    <string>daggerdbl.glif</string>
    <key>bullet</key>
    <string>bullet.glif</string>
    <key>ellipsis</key>
    <string>ellipsis.glif</string>
    <key>perthousand</key>
    <string>perthousand.glif</string>
    <key>guilsinglleft</key>
    <string>guilsinglleft.glif</string>
    <key>guilsinglright</key>
    <string>guilsinglright.glif</string>
    <key>fraction</key>
    <string>fraction.glif</string>
    <key>Euro</key>
    <string>E_uro.glif</string>
    <key>uni20BA</key>
    <string>uni20B_A_.glif</string>
    <key>uni20BD</key>
    <string>uni20B_D_.glif</string>
    <key>uni2113</key>
    <string>uni2113.glif</string>
    <key>trademark</key>
    <string>trademark.glif</string>
    <key>uni2126</key>
    <string>uni2126.glif</string>
    <key>estimated</key>
    <string>estimated.glif</string>
    <key>partialdiff</key>
    <string>partialdiff.glif</string>
    <key>uni2206</key>
    <string>uni2206.glif</string>
    <key>product</key>
    <string>product.glif</string>
    <key>summation</key>
    <string>summation.glif</string>
    <key>minus</key>
    <string>minus.glif</string>
    <key>uni2215</key>
    <string>uni2215.glif</string>
    <key>uni2219</key>
    <string>uni2219.glif</string>
    <key>radical</key>
    <string>radical.glif</string>
    <key>infinity</key>
    <string>infinity.glif</string>
    <key>integral</key>
    <string>integral.glif</string>
    <key>approxequal</key>
    <string>approxequal.glif</string>
    <key>notequal</key>
    <string>notequal.glif</string>
    <key>lessequal</key>
    <string>lessequal.glif</string>
    <key>greaterequal</key>
    <string>greaterequal.glif</string>
    <key>lozenge</key>
    <string>lozenge.glif</string>
    <key>fi</key>
    <string>fi.glif</string>
    <key>fl</key>
    <string>fl.glif</string>
  </dict>
</plist>
