language: python
python:
  - "2.7"
before_install:
- sudo add-apt-repository --yes ppa:fontforge/fontforge
- sudo apt-get update -qq
- sudo apt-get install python-fontforge ttfautohint swig
- cp /usr/lib/python2.7/dist-packages/fontforge.* "$HOME/virtualenv/python2.7.9/lib/python2.7/site-packages"
install:
- pip install git+https://github.com/behdad/fontTools.git
- pip install git+https://github.com/googlefonts/fontcrunch.git
- pip install git+https://github.com/googlefonts/fontbakery.git
- pip install git+https://github.com/fish2000/pyicu-praxa
before_script:
- mkdir -p builds/$TRAVIS_COMMIT
script: "(set -o pipefail; PATH=/home/travis/virtualenv/python2.7.9/bin/:$PATH fontbakery-build.py
  . 2>&1 | tee -a    builds/$TRAVIS_COMMIT/buildlog.txt)"
after_script:
- PATH=/home/travis/virtualenv/python2.7.9/bin/:$PATH fontbakery-report.py builds/$TRAVIS_COMMIT
- rm -rf builds/$TRAVIS_COMMIT/sources
- rm -rf builds/$TRAVIS_COMMIT/build.state.yaml
- PATH=/home/travis/virtualenv/python2.7.9/bin/:$PATH fontbakery-travis-deploy.py
branches:
  only:
  - master
env:
  global:
    secure: hwfZjQ/044m4dh4v7XtX6K6m8lx0zcXPHoaUisYQBdRPSa7CKMTDOs3tMJ2kIBWp9st+432ZgFoi6NP4QvyZQfgkdTgJSr2CsWmWH1GkaPJ34aEpdFs+Dc5IWj0jRJT9jmrOlB5zb6ZYL8/VMKqgEVYX53WGnw+xJjb4bbeFIIc=
