<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ascender</key>
	<integer>936</integer>
	<key>capHeight</key>
	<integer>702</integer>
	<key>copyright</key>
	<string>Copyright (c) 2013, Christian Naths (christiannaths@gmail.com christiannaths.com)</string>
	<key>descender</key>
	<integer>-266</integer>
	<key>familyName</key>
	<string>Redacted</string>
	<key>italicAngle</key>
	<real>0.0</real>
	<key>macintoshFONDFamilyID</key>
	<integer>128</integer>
	<key>macintoshFONDName</key>
	<string>Redacted</string>
	<key>openTypeHeadLowestRecPPEM</key>
	<integer>3</integer>
	<key>openTypeHheaAscender</key>
	<integer>975</integer>
	<key>openTypeHheaDescender</key>
	<integer>-175</integer>
	<key>openTypeHheaLineGap</key>
	<integer>0</integer>
	<key>openTypeNameCompatibleFullName</key>
	<string>Redacted</string>
	<key>openTypeNameDesigner</key>
	<string>Christian Naths</string>
	<key>openTypeNameDesignerURL</key>
	<string>http://christiannaths.com</string>
	<key>openTypeNameLicense</key>
	<string>This Font Software is licensed under the SIL Open Font License, Version 1.1. This license is available with a FAQ at: http://scripts.sil.org/OFL</string>
	<key>openTypeNameLicenseURL</key>
	<string>http://scripts.sil.org/OFL</string>
	<key>openTypeNameManufacturer</key>
	<string>Christian Naths</string>
	<key>openTypeNameManufacturerURL</key>
	<string>https://github.com/christiannaths/Redacted-Font</string>
	<key>openTypeNamePreferredFamilyName</key>
	<string>Redacted</string>
	<key>openTypeNamePreferredSubfamilyName</key>
	<string>Regular</string>
	<key>openTypeNameUniqueID</key>
	<string>Redacted; 1.001; 2013-02-26</string>
	<key>openTypeNameVersion</key>
	<string>Version 1.001</string>
	<key>openTypeOS2CodePageRanges</key>
	<array>
	</array>
	<key>openTypeOS2FamilyClass</key>
	<array>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2Panose</key>
	<array>
		<integer>2</integer>
		<integer>0</integer>
		<integer>4</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
		<integer>0</integer>
	</array>
	<key>openTypeOS2StrikeoutPosition</key>
	<integer>259</integer>
	<key>openTypeOS2StrikeoutSize</key>
	<integer>50</integer>
	<key>openTypeOS2SubscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SubscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SubscriptYOffset</key>
	<integer>143</integer>
	<key>openTypeOS2SubscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2SuperscriptXOffset</key>
	<integer>0</integer>
	<key>openTypeOS2SuperscriptXSize</key>
	<integer>700</integer>
	<key>openTypeOS2SuperscriptYOffset</key>
	<integer>453</integer>
	<key>openTypeOS2SuperscriptYSize</key>
	<integer>650</integer>
	<key>openTypeOS2Type</key>
	<array>
	</array>
	<key>openTypeOS2TypoAscender</key>
	<integer>975</integer>
	<key>openTypeOS2TypoDescender</key>
	<integer>-175</integer>
	<key>openTypeOS2TypoLineGap</key>
	<integer>0</integer>
	<key>openTypeOS2UnicodeRanges</key>
	<array>
		<integer>0</integer>
		<integer>1</integer>
	</array>
	<key>openTypeOS2VendorID</key>
	<string></string>
	<key>openTypeOS2WeightClass</key>
	<integer>400</integer>
	<key>openTypeOS2WinAscent</key>
	<integer>975</integer>
	<key>openTypeOS2WinDescent</key>
	<integer>175</integer>
	<key>postscriptBlueFuzz</key>
	<integer>1</integer>
	<key>postscriptBlueScale</key>
	<real>0.039625</real>
	<key>postscriptBlueShift</key>
	<integer>7</integer>
	<key>postscriptBlueValues</key>
	<array>
		<integer>-21</integer>
		<integer>0</integer>
		<integer>650</integer>
		<integer>650</integer>
		<integer>975</integer>
		<integer>975</integer>
	</array>
	<key>postscriptDefaultWidthX</key>
	<integer>500</integer>
	<key>postscriptFamilyBlues</key>
	<array>
	</array>
	<key>postscriptFamilyOtherBlues</key>
	<array>
	</array>
	<key>postscriptFontName</key>
	<string>Redacted</string>
	<key>postscriptForceBold</key>
	<false/>
	<key>postscriptFullName</key>
	<string>Redacted</string>
	<key>postscriptIsFixedPitch</key>
	<false/>
	<key>postscriptOtherBlues</key>
	<array>
		<integer>-53</integer>
		<integer>-53</integer>
	</array>
	<key>postscriptSlantAngle</key>
	<real>-0.0</real>
	<key>postscriptStemSnapH</key>
	<array>
	</array>
	<key>postscriptStemSnapV</key>
	<array>
	</array>
	<key>postscriptUnderlinePosition</key>
	<integer>-137</integer>
	<key>postscriptUnderlineThickness</key>
	<integer>46</integer>
	<key>postscriptWeightName</key>
	<string>Regular</string>
	<key>postscriptWindowsCharacterSet</key>
	<integer>1</integer>
	<key>styleMapFamilyName</key>
	<string>Redacted</string>
	<key>styleMapStyleName</key>
	<string>regular</string>
	<key>styleName</key>
	<string>Regular</string>
	<key>trademark</key>
	<string>No trademark claimed.</string>
	<key>unitsPerEm</key>
	<integer>1000</integer>
	<key>versionMajor</key>
	<integer>1</integer>
	<key>versionMinor</key>
	<integer>1</integer>
	<key>xHeight</key>
	<integer>439</integer>
	<key>year</key>
	<integer>2013</integer>
</dict>
</plist>
